IndexIgnore * [L]
ErrorDocument 404 /error

RewriteEngine on # Turn on the rewriting engine
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^([A-Za-z\/-]*)\/([0-9]*)$ index.php?page=$1&id=$2 [L]
RewriteRule ^([A-Za-z0-9\/-]*)\/?$ index.php?page=$1 [L]
